  spring:
    sql:
      init:
        mode: always
    datasource:
      url: jdbc:h2:file:./db/filmorate;MODE=PostgreSQL
      driverClassName: org.h2.Driver
      username: sa
      password: password
